@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Merriweather", serif;
}

/* Remove focus ring on the input */
.custom-phone-input .PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Remove focus ring on the country dropdown */
.custom-phone-input .PhoneInputCountry:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Ensuring transparent background remains */
.custom-phone-input input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: white !important;
}

.slick-active div div {
  opacity: 1; /* Makes the inner black dot visible for active dots */
}
